.Register{
    position: relative;
    width: 440px;
    height: 400px;
    padding: 60px 70px 0;
    text-align: right;
    background: #ffffff;
}
.Register>input{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border:1px solid #ccc;
}
.Register .gban{
    position: absolute;
    top: 69px;
    right: 80px;
}
.Register .cwicon{
    position: absolute;
    top: 69px;
    right: 40px;
}
.zh-prompt{
    display:block;
    width: 100%;
    height: 32px;
    padding-top: 5px;
    color: #ec0a0a;
}
.getveri{
    width: 150px;
    line-height: 39px;
    position: absolute;
    top: 132px;
    right: 71px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background: #f49110;
}
.forgetmm{
    display: inline-block;
    line-height: 70px;
}
.forgetmm a{
    color:#f49110
}
.Register>a{
    display: inline-block;
    width: 100%;
    color: #fff;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: url("../../../images/dlan.png")no-repeat;
}